<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Count_It.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>MLaRandeau.Count-It-FPSHelper.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>MLaRandeau.Count-It-TraceHelper.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8C6F1FC71AEC34FD0016213E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8CBFA2631ADAC86900FB2B44</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8CBFA2731ADAC86B00FB2B44</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8CBFA2901ADAD11000FB2B44</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
